.venv
dist
gendiff/__pycache__/
gendiff/scripts/__pycache__/
project2.cast1
gendiff/modules/__pycache__/
tests/__pycache__/
project2.cast2
project2.cast3
tests/fixtures/__pycache__/
gendiff/modules/formatters/__pycache__/
coverage.xml

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/
